.catalog-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.catalog-title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid white;
}

.catalog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spinner {
    justify-content: center;
    width: 50%;
    height: 300px;
}

.spinner-text {
    font-size: 3rem;
    margin: 0 auto;
    color: white;
    
}