.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem 0;
    height: 10vh;
    width: 90%;
}

/* .nav .main-logo {
    display: flex;
} */

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.nav ul li {
    padding-right: 1.3rem;
}